@font-face {
  font-family: "Steampunk";
  src: url("../fonts/steampunk/SteampunkMVE.otf") format("opentype");
}

.navigation {

  margin-left: 1%;
  margin-right: 1%;
  
  width: 23.75%;
  opacity: .80;


}

.navigation-1{

  width: 23.75%;
  margin-right: 1%;

}

.name {

  font-family: "Steampunk";
  font-size: 60px;
  line-height: 10px;
  color: white;

}

.background-main {

  background-image: url("../images/red-city_1024.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;


}

.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 16px 0 0;
  border: none;
  font: normal 100px/0.65 "Squada One", Helvetica, sans-serif;
  color: black;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: -7px -5px  white;
}

#back {

  color: white;
  text-shadow: -10px -10px 0 black;

}

#deve {

  color: white;
  text-shadow: -7px -5px 0 black;
  margin-right: 7px;

}

.developer-row {

  margin-top: 10%;

}

.nav-button {

  margin-top:18%;
  opacity: .80;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 22px;
  border: 4px solid rgb(255,255,255);
  font: normal normal bold 50px/50px  "Squada One", Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #b71c1c;
  margin-left: 14.3%;
}

.nav-button:hover {
  color: #b71c1c;
  background: #ffffff;
  border: 4px solid rgb(0,0,0);
}

#header{
  position: absolute;
  z-index: 2000;
  top: 0px;
  right: 5%;
}

#navigation {
  margin-top: 10%;
  display:block;
  list-style:none;
  z-index:3;
}

.panel{
  min-width: 100%;
  height: 98%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -150%;
  position: absolute;
  background: #000;
  box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
  z-index: 2;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}
.panel:target{
  margin-top: 0%;
  background-color: #000000;
}

.panel-white{
  min-width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -150%;
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
  z-index: 2;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}
.panel-white:target{
  margin-top: 0%;
  background-color: #ffffff;
}

.content{

  position: absolute;
  width: 100%;

}

#home:target ~ #header #navigation #link-home,
#portfolio:target ~ #header #navigation #link-portfolio,
#about:target ~ #header #navigation #link-about,
#contact:target ~ #header #navigation #link-contact{
  color: #d32f2f;
}

.nav-menu {

  width: 45%;
  margin-top: -2.8%;
  height: 75px;
  opacity: .85;
}

.nav-container {

  float: left;
  width: 25%;
  background-color: #000000;
  height: 65px;
  color: #ffffff;
  font-family: "Squada One", Arial;
  font-size: 1.4em;
}

.nav-container:hover .nav-top {

  color: #d32f2f;

}

.nav-container:hover .button-sec{

  background-color: #d32f2f;

}

.icons {

  font-size: 35px;
  color: #ffffff;
  margin-right: 30px;

}

.button-sec {

  width: 100%;

  background-color: #ffffff;

  height: 10px;

  margin-top: 3%;

}

.nav-top {

  margin-top: 10%;
  margin-left: 10%;

}

#social-platforms {
  position:relative;
  font-size:1rem;
  text-align:center;
  overflow:hidden;
  margin-left: 45%;
  margin-top: 3%;  

}

/*Pen code from this point on*/
.button-so {

  clear:both;
  white-space:nowrap;
  font-size:.8em;
  display:inline-block;
  border-radius:5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  overflow:hidden;
  font-family:, Arial;
}

.button-so:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.button-so:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.button-so > span,.btn-icon > i {
  float:left;
  padding:13px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em;
}

.button-so > span {
  padding:14px 18px 16px;
  white-space:nowrap;
  color:#FFF;
  background:#b8b8b8;
}

.button-so:focus > span {
  background:#9a9a9a;
}

.btn-icon > i {
  border-radius:5px 0 0 5px;
  position:relative;
  width:13px;
  text-align:center;
  font-size:1.25em;
  color:#fff;
  background:#212121;
}

.btn-icon > i:after {
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:13px;
  right:-15px;
}

.btn-icon:hover > i,.btn-icon:focus > i {
  color:#FFF
}

.btn-icon > span {
  border-radius:0 5px 5px 0;
}

/*Twitter*/
.btn-twitter:hover > i,.btn-twitter:focus > i {
  color:#55acee;
}

.btn-twitter > span {
  background:#55acee;
}

/*LinkedIn*/
.btn-linkedin:hover > i,.btn-linkedin:focus > i {
  color:#007bb6;
}

.btn-linkedin > span {
  background:#007bb6;
}

/*Github*/
.btn-github:hover > i,.btn-github:focus > i {
  color:#000000;
}

.btn-github > span {
  background:#000000;
}

.profile-picture {

  margin-top: 40%;
  margin-left: 30%;
  width: 80%;

}

.about-me {

  color: #ffffff;
  margin-top: 13%;
  font-size: 1.3em;
  font-family: "Squada One", Arial;
  background-color: black;
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;

}

.my-text {

  margin-left: 0%;

}

#place-holder{

  color: #ffffff;

}

#place-holder2{

  color: #ffffff;

}

.contact-title{

  color: #ffffff;
  font-family: "Squada One", Arial;

}